<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <a class="navbar-brand" [routerLink]="['/']">CrowdFundMe</a>
      <div id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">Projects </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/add-project']">Add Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/admin']">Admin</a>
          </li>
        </ul>
      </div>
    </nav>
